---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  <div class="flex flex-col md:flex-row m-4 gap-5 px-0 md:px-20 py-8">
    <Card
      title="The Bengal Region: West Bengal and Bangladesh"
      description="The Bengal region, located in South Asia, hosts a diverse landscape, important contribution to the arts, and vibrant cuisine. It witnessed the rise and fall of numerous dynasties, including the Mauryans, the Guptas, and the Palas, and was an important center for commerce for travelers and merchants from around the globe. The Mughal Empire, considered the final dynasty of India before the British, brought economic prosperity to the Bengal region, notably its textile industry with silk and muslin; the region was considered one of the wealthiest in the world. Unfortunately, due to British invasion and influence, the textile industry was, in essence, burned to the ground."
    />
    <Card
      title="Food, Music, Religion, and an Unexpected Love Story"
      description="Bengali culture is renowned for its literary and artistic traditions. The Bengali language, also known as Bangla, is one of the oldest and most widely spoken languages in the world. Bengali literature has produced many prominent figures, including Nobel laureate Rabindranath Tagore, who significantly influenced Bengali and global literature. The region is known for its vibrant music, dance forms like the classical dance style of Manipuri, and traditional folk art forms such as Patachitra (scroll painting) and Nakshi Kantha (embroidered quilt). Bengali cuisine is characterized by its distinct flavors and emphasis on fish, rice, and various spices. Rice is a staple food, and a traditional Bengali meal typically consists of a combination of rice, lentils (dal), fish or meat curry, and various vegetable dishes. Popular Bengali dishes include macher jhol (fish curry), shorshe ilish (hilsa fish cooked in mustard sauce), shorshe bata diye chingri (prawns in mustard sauce), shorshe posto (mustard-poppy seed paste), and mishti doi (sweet yogurt)."
    />
  </div>
</Layout>
