---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  <div class="flex flex-col md:flex-row m-4 gap-5 px-0 md:px-20 py-8">
    <Card
      title="Lost and Rare Recipes"
      description="I am sincerely grateful to Lost and Rare Recipes, from where I sourced the recipes in our food section. Their YouTube channel is linked below and the  videos used to implement the recipes can be found on their respective pages. The images used are from the "
    />
    <Card
      imageSrc="https://files.catbox.moe/081yb7.jpeg"
      title=""
      description=""
    />
    <Card
      title=""
      description=""
    />
   </div>
   <div class="flex flex-col md:flex-row m-4 gap-5 px-0 md:px-20 py-8">
    <Card
    title="Dishan Bhattacharya"
    description="Dishan B"
  />
  <Card
    title="Neel Kumar"
    description="Neel K"
  />
  <Card
    imageSrc="https://files.catbox.moe/nlt098.png"
    title="Aakrit Gupta"
    description="Aakrit Gupta"
  />
   </div>
   
</Layout>
