---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  
  <div class="text-xl leading-loose font-light tracking-wide mx-96 md:px-20 py-8">
  <Card
      title="Lost and Rare Recipes"
      description="I am sincerely grateful to Lost and Rare Recipes, from where I sourced the recipes in our food section. Their YouTube channel is linked below and the  videos used to implement the recipes can be found on their respective pages. The images used are from the thumbnails of their videos. "
    />
  </div>
  <div class="text-xl leading-loose font-light tracking-wide mx-96 md:px-20 py-8 ">  
    <Card 
      title="YouTube Link"
      imageSrc="https://files.catbox.moe/081yb7.jpeg"
      description=""
      link="https://www.youtube.com/c/LostandRareRecipes"
    />
   </div>
   <div class="flex flex-col md:flex-row mx-64 gap-5 px-0 md:px-20 py-8">
    <Card 
    imageSrc="https://files.catbox.moe/6k4img.png"
    title="Dishan Bhattacharya"
  />
  <Card
    imageSrc="https://files.catbox.moe/sahbts.png"
    title="Aakrit Gupta"
  />
   </div>
   
</Layout>
