---
import Layout from '../layouts/Layout.astro';

import Card from '../components/Card.astro';
import GridImage from '../components/GridImage.astro';
---

<Layout title="Funcha">
	<h1 class="text-8xl text-center font-bold underline">Recipes</h1>
</Layout>
