---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  <div class="flex px-0 md:px-20 py-0 my-0">
    <div class=" m-4 gap-5 px-0 md:px-1 py-8">

    </div>
  </div>
  <div class="w-screen h-full bg-dark-text/[0.03] pt-6">
    <h1 class="text-center dark:text-dark-text text-light-text">Recipes</h1>
    <div class="container mx-auto py-6">
      <div
        class="grid grid-cols-3 gap-2 p-6 bg-transparent mx-[10vw] rounded-lg"
      >
        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-3"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-2"
        />

        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-2"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
      </div>
    </div>
  </div>
</Layout>
