---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  <div class="flex flex-col md:flex-row m-4 gap-5 px-0 md:px-20 py-8">
      <Card
      title="West Bengal and Bangladesh"
      description="The Bengal region, located in South Asia, hosts a diverse landscape, important contribution to the arts, and vibrant cuisine. It witnessed the rise and fall of numerous dynasties, including the Mauryans, the Guptas, and the Palas, and was an important center for commerce for travelers and merchants from around the globe. The Mughal Empire, considered the final dynasty of India before the British, brought economic prosperity to the Bengal region, notably its textile industry with silk and muslin; the region was considered one of the wealthiest in the world. Unfortunately, due to British invasion and influence, the textile industry was, in essence, burned to the ground. The unified region was eventually split by the British in 1947 after a movement for independence.  "
    />
    <Card 
      title="Bengali Culture"
      description=" Bengali culture is renowned for its literary and artistic traditions. The Bengali language, known as Bangla, is one of the oldest and most widely spoken languages in the world. Bengali literature has produced many prominent figures, including Nobel laureate Rabindranath Tagore, who significantly influenced Bengali and global literature. The region is known for its vibrant music and traditional folk art forms like Patachitra and Nakshi Kantha. Bengali cuisine is characterized by its distinct flavors and combinations. A traditional Bengali meal typically consists of a combination of rice, lentils, fish or meat curry, and various vegetable dishes. Popular Bengali dishes include macher jhol (fish curry), shorshe bata diye chingri (prawns in mustard sauce), and mishti doi (sweet yogurt)."
    />
    <Card
      title="The Potato's Journey"
      description="The introduction of potatoes to Bengal can be traced back to the colonial period when Portugal established trade routes with India. Potatoes were originally native to South America and were brought to Europe by Spanish explorers. From there, they spread to other European countries, including Portugal. Portuguese traders likely introduced potatoes to the Bengal region in the late 16th or early 17th century. Potatoes quickly adapted to the local climate and soil conditions, becoming a valuable crop. Bengali cuisine embraced the versatile tuber, incorporating it into various dishes. Today, potatoes are an essential ingredient in many popular Bengali recipes, such as aloo posto (potatoes cooked with poppy seeds), aloo bhaja (fried potatoes), and alur dom (spicy potato curry)."
    />
    
  </div>
  <div class="w-screen h-full bg-dark-text/[0.03] pt-6">
    <h1 class="text-center dark:text-dark-text text-light-text">Recipes</h1>
    <div class="container mx-auto py-6">
      <a href="/food/">
        <div
        class="grid grid-cols-3 gap-2 p-6 bg-transparent mx-[10vw] rounded-lg"
      >
        <GridImage
          url="https://files.catbox.moe/1cj6xl.png"
          columns="col-span-1"
        />
        <GridImage
          url="https://files.catbox.moe/zecung.png"
          columns="col-span-1"
        />
        <GridImage
          url="https://files.catbox.moe/tra152.png"
          columns="col-span-1"
        />

        <GridImage
          url="https://files.catbox.moe/nlt098.png"
          columns="col-span-1"
        />
        <GridImage
          url="https://files.catbox.moe/qwxid4.png"
          columns="col-span-1"
        />
        <GridImage
          url="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWgjCoupIil3ugsNHNod3z1L9Wc4NerCN-8QQ5857eH6euY0BHBldb45-DoIxiz1WOz_g&usqp=CAU"
          columns="col-span-1"
        />
      </div>
    </a>
    </div>
  </div>
</Layout>
