---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  <div class="flex px-0 md:px-20 py-0 my-0">
    <div class=" m-4 gap-5 px-0 md:px-32 pb-12">
      <Card
      title="West Bengal and Bangladesh"
      description="The Bengal region, located in South Asia, hosts a diverse landscape, important contribution to the arts, and vibrant cuisine. It witnessed the rise and fall of numerous dynasties, including the Mauryans, the Guptas, and the Palas, and was an important center for commerce for travelers and merchants from around the globe. The Mughal Empire, considered the final dynasty of India before the British, brought economic prosperity to the Bengal region, notably its textile industry with silk and muslin; the region was considered one of the wealthiest in the world. Unfortunately, due to British invasion and influence, the textile industry was, in essence, burned to the ground. The unified region was eventually split by the British in 1947 after a movement for independence. Bengali culture is renowned for its literary and artistic traditions. The Bengali language, also known as Bangla, is one of the oldest and most widely spoken languages in the world. Bengali literature has produced many prominent figures, including Nobel laureate Rabindranath Tagore, who significantly influenced Bengali and global literature. The region is known for its vibrant music, dance forms like the classical dance style of Manipuri, and traditional folk art forms such as Patachitra (scroll painting) and Nakshi Kantha (embroidered quilt). Bengali cuisine is characterized by its distinct flavors and emphasis on fish, rice, and various spices. Rice is a staple food, and a traditional Bengali meal typically consists of a combination of rice, lentils (dal), fish or meat curry, and various vegetable dishes. Popular Bengali dishes include macher jhol (fish curry), shorshe ilish (hilsa fish cooked in mustard sauce), shorshe bata diye chingri (prawns in mustard sauce), shorshe posto (mustard-poppy seed paste), and mishti doi (sweet yogurt)."
    />
    <Card
      title="A Tale of Two Cities: Potatoes"
      description="The introduction of potatoes to Bengal can be traced back to the colonial period when Portugal established trade routes with India. Potatoes were originally native to South America and were brought to Europe by Spanish explorers. From there, they spread to other European countries, including Portugal. Portuguese traders likely introduced potatoes to the Bengal region in the late 16th or early 17th century. Potatoes quickly adapted to the local climate and soil conditions, becoming a valuable crop. Bengali cuisine embraced the versatile tuber, incorporating it into various dishes. Today, potatoes are an essential ingredient in many popular Bengali recipes, such as aloo posto (potatoes cooked with poppy seeds), aloo bhaja (fried potatoes), and alur dom (spicy potato curry)."
    />
    
    </div>
  </div>
  <div class="w-screen h-full bg-dark-text/[0.03] pt-6">
    <h1 class="text-center dark:text-dark-text text-light-text">Recipes</h1>
    <div class="container mx-auto py-6">
      <div
        class="grid grid-cols-3 gap-2 p-6 bg-transparent mx-[10vw] rounded-lg"
      >
        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-3"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-2"
        />

        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-2"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
      </div>
    </div>
  </div>
</Layout>
