---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import GridImage from "../components/GridImage.astro";
---

<Layout title="Funcha">
  <div class="flex px-0 md:px-20 py-0 my-0">
    <div class=" m-4 gap-5 px-0 md:px-1 py-8">
      <p class="font-semibold text-2xl">test</p> <br>
      <p class="">test</p>
      <!---<Card
      title="The Bengal Region: West Bengal and Bangladesh"
      description="The Bengal region, located in South Asia, hosts a diverse landscape, important contribution to the arts, and vibrant cuisine. It witnessed the rise and fall of numerous dynasties, including the Mauryans, the Guptas, and the Palas, and was an important center for commerce for travelers and merchants from around the globe. The Mughal Empire, considered the final dynasty of India before the British, brought economic prosperity to the Bengal region, notably its textile industry with silk and muslin; the region was considered one of the wealthiest in the world. Unfortunately, due to British invasion and influence, the textile industry was, in essence, burned to the ground. The unified region was eventually split by the British in 1947 after a movement for independence."
    />
    <Card
      title="Food, Music, Religion, and an Unexpected Love Story"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in tristique nunc. Morbi laoreet, nunc vitae vestibulum auctor, massa mauris rutrum magna, ut ornare tortor lorem a libero. Vestibulum sed est sed justo blandit accumsan ac quis ex. Cras non cursus leo, fermentum tempor nisi. Fusce ante lorem, tempus vel eros id, pellentesque placerat mauris. Curabitur nulla nulla, tincidunt pellentesque est in, vulputate convallis elit. Phasellus quis enim est. Sed venenatis massa semper leo semper molestie. Nam eget facilisis lacus, vitae sollicitudin arcu. Sed sagittis purus sed tellus dictum pretium. Donec luctus vehicula tortor quis faucibus."
    />  -->
    </div>
  </div>
  <div class="w-screen h-full bg-dark-text/[0.03] pt-6">
    <h1 class="text-center dark:text-dark-text text-light-text">Recipes</h1>
    <div class="container mx-auto py-6">
      <div
        class="grid grid-cols-3 gap-2 p-6 bg-transparent mx-[10vw] rounded-lg"
      >
        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-3"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-2"
        />

        <GridImage
          caption="Whoa food!"
          url="https://images.wallpaperscraft.com/image/single/pizza_food_glass_73012_2560x1024.jpg"
          columns="col-span-2"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
        <GridImage
          caption="Whoa food!"
          url="https://www.holidify.com/images/cmsuploads/compressed/Ilish_macher_paturi_20170829115529.jpg"
          columns="col-span-1"
        />
      </div>
    </div>
  </div>
</Layout>
