---
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<div
  class="dark:bg-dark-text/[0.03] bg-light-text/[0.03] rounded-lg flex-1 px-8 py-4 "
>
  <h2 class="dark:text-dark-text text-light-text">{title}</h2>
  <p class="dark:text-dark-text text-light-text">
    {description}
  </p>
</div>
