
<div
  class="pt-10 py-6 dark:bg-black/50 bg-light-bg text-gray-600 border-t dark:border-gray-800 border-black/[0.03] text-center"
>
  Developed by
  <a href="https://www.linkedin.com/in/neel-v-kumar/" target="_blank" class="hover:underline">Neel Kumar</a> and written by 
  <a href="https://www.linkedin.com/in/dishanb/" target="_blank">Dishan Bhattacharya</a> and 
  <a>Aakrit Gupta</a> 
</div>
