
<div
  class="pb-6 py-10 dark:bg-black/50 bg-light-bg text-gray-600 border-t border-gray-800 text-center"
>
  <a href="https://www.linkedin.com/in/dishanb/" target="_blank">Dishan Bhattacharya</a> and 
  <a href="https://www.linkedin.com/in/neel-v-kumar/" target="_blank">Neel Kumar</a>
</div>
