<nav
  class="transition-all duration-300 top-0 z-[100000] justify-center content-center text-center w-[95%] dark:text-dark-text text-light-text group-hover:text-dark-text mb-2 p-2 mx-auto rounded-b-lg sticky"
>
  <div class="overflow-hidden nav rounded-lg transition-all duration-300">
    
    <div
      class="float-right hover:text-white text-center no-underline px-4 py-4 rounded-r-lg hover:bg-primary transition-all h-[4rem] w-14 duration-[400ms] wrap group"
    >
      <div
        class="light-dark light absolute w-20 aspect-square text-dark-text front"
      >
        <svg
          class="w-6 h-6 dark:fill-dark-text fill-light-text group-hover:fill-dark-text transition-all duration-[400ms]"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 64 64"
          enable-background="new 0 0 64 64"
          xml:space="preserve"
        >
          <g id="Sum">
            <path
              d="M17,31.9727993c0,8.295599,6.7157001,15.0206013,15,15.0206013s15-6.7250023,15-15.0206013
		c0-8.2957001-6.7157021-15.0206985-15-15.0206985S17,23.6770992,17,31.9727993z M45,31.9727993
		c0,7.1779995-5.8317986,13.0178013-13,13.0178013c-7.1681843,0-13-5.8398018-13-13.0178013
		c0-7.1780987,5.8318157-13.0178986,13-13.0178986C39.1682014,18.9549007,45,24.7947006,45,31.9727993z"
            ></path>
            <path
              d="M32.7421989,11.7700996c0.5527,0,1-0.4478998,1-1.0014V1.0014c0-0.5535-0.4473-1.0014-1-1.0014
		c-0.5527992,0-0.9999981,0.4479-0.9999981,1.0014v9.7672997C31.7422009,11.3221998,32.1893997,11.7700996,32.7421989,11.7700996z"
            ></path>
            <path
              d="M48.6445007,4.6588001C48.1640015,4.3790998,47.5527,4.5443001,47.2783012,5.0235l-4.8838005,8.4578991
		c-0.2773018,0.4792004-0.1133003,1.0914001,0.364315,1.3681002c0.1581841,0.0918999,0.3300858,0.1350002,0.5,0.1350002
		c0.3456841,0,0.6815834-0.1789999,0.8661842-0.4996996l4.8838158-8.4580002
		C49.2860985,5.5476999,49.1221008,4.9355001,48.6445007,4.6588001z"
            ></path>
            <path
              d="M50.7616997,23.0286999c0.1689987,0,0.3408012-0.0429993,0.4990005-0.1340008l8.4580002-4.8835983
		c0.4776001-0.2758007,0.6425972-0.8889008,0.3661995-1.3681011c-0.2763023-0.4771996-0.8837013-0.6434994-1.3661995-0.3666992
		l-8.4580002,4.8836002c-0.4775009,0.2757988-0.6425018,0.8889999-0.3661995,1.3680992
		C50.0790977,22.8488007,50.4160004,23.0286999,50.7616997,23.0286999z"
            ></path>
            <path
              d="M11.7676001,32.7421989c0-0.5533981-0.4473-1.0012989-0.999999-1.0012989H1.0000008c-0.5527,0-1,0.4479008-1,1.0012989
		c0,0.5535011,0.4473,1.0014,1,1.0014h9.7676001C11.3203001,33.7435989,11.7676001,33.2957001,11.7676001,32.7421989z"
            ></path>
            <path
              d="M4.2822008,18.0111008L12.7402,22.8946991c0.1582003,0.0910015,0.3291006,0.1340008,0.4990005,0.1340008
		c0.3457003,0,0.6827002-0.1798992,0.8671999-0.5007c0.2764149-0.4790993,0.1114149-1.0923004-0.3662004-1.3680992
		l-8.4579992-4.8836002c-0.4813852-0.2768002-1.0918002-0.1125011-1.3662002,0.3666992
		C3.6396008,17.1222,3.8047006,17.7353001,4.2822008,18.0111008z"
            ></path>
            <path
              d="M20.7411995,14.9844999c0.1699009,0,0.3418007-0.0431004,0.4990005-0.1339998
		c0.4785004-0.2777004,0.6426163-0.8899002,0.3661995-1.3681002l-4.8827991-8.4579
		c-0.2772999-0.4801998-0.8895998-0.6444001-1.3661995-0.3666997c-0.4785004,0.2776999-0.6425858,0.8898997-0.3662004,1.3680997
		l4.8828001,8.4579C20.0596008,14.8055,20.3955002,14.9844999,20.7411995,14.9844999z"
            ></path>
            <path
              d="M32.7421989,52.2318993c-0.5527992,0-0.9999981,0.4478989-0.9999981,1.0014V62.9986
		c0,0.5535011,0.4471989,1.0014,0.9999981,1.0014c0.5527,0,1-0.4478989,1-1.0014v-9.7653008
		C33.7421989,52.6797981,33.294899,52.2318993,32.7421989,52.2318993z"
            ></path>
            <path
              d="M22.5272999,49.8936996c-0.4813995-0.2795982-1.0907993-0.114399-1.3661995,0.3647995l-4.8838005,8.457901
		C16,59.1955986,16.1639996,59.8077011,16.6415997,60.0844994c0.1582165,0.0918999,0.330101,0.1348991,0.5,0.1348991
		c0.3457012,0,0.6816006-0.1788979,0.8662167-0.4996986l4.8837833-8.457901
		C23.1688995,50.7826004,23.0049,50.1705017,22.5272999,49.8936996z"
            ></path>
            <path
              d="M13.4824009,42.3922005l-8.4580002,4.8837013c-0.4775,0.2756996-0.6425853,0.8888969-0.3662,1.3680992
		c0.1846147,0.3206978,0.5215001,0.5006981,0.8671999,0.5006981c0.1689,0,0.3407998-0.0430984,0.4990001-0.1339989
		l8.4580002-4.8837013c0.4775-0.2756996,0.6425991-0.8889008,0.3661995-1.3680992
		C14.5732002,42.2807007,13.9639006,42.1144981,13.4824009,42.3922005z"
            ></path>
            <path
              d="M63,31.7409h-9.7656021c-0.5527992,0-1,0.4479008-1,1.0012989c0,0.5535011,0.4472008,1.0014,1,1.0014H63
		c0.5527,0,1-0.4478989,1-1.0014C64,32.1888008,63.5527,31.7409,63,31.7409z"
            ></path>
            <path
              d="M58.9756012,47.2759018l-8.4580002-4.8837013c-0.4805031-0.2766991-1.0917854-0.1114998-1.3662033,0.3666992
		c-0.2763977,0.4791985-0.1113968,1.0923996,0.3662033,1.3680992l8.4580002,4.8837013
		c0.1582146,0.0909004,0.3290977,0.1339989,0.4989967,0.1339989c0.3457031,0,0.6826019-0.1800003,0.867218-0.5006981
		C59.6181984,48.1647987,59.4530983,47.5516014,58.9756012,47.2759018z"
            ></path>
            <path
              d="M42.8378983,50.2584991c-0.2753983-0.4791985-0.8866997-0.6443977-1.3661995-0.3647995
		c-0.4776001,0.2768021-0.6415977,0.8889008-0.3642998,1.3680992l4.8838005,8.457901
		c0.1846161,0.3208008,0.5205002,0.4996986,0.8661995,0.4996986c0.169899,0,0.3418007-0.0429993,0.5-0.1348991
		c0.4775009-0.2767982,0.6416016-0.8889008,0.3642998-1.3680992L42.8378983,50.2584991z"
            ></path>
          </g>
        </svg>
      </div>
      <div
        class="light-dark night absolute w-20 aspect-square text-center leading-[72px] text-dark-text back"
      >
        <svg
          class="w-6 h-6 dark:stroke-dark-text stroke-light-text group-hover:stroke-dark-text dark:fill-dark-text fill-light-text group-hover:fill-dark-text transition-all duration-[400ms]"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 49.739 49.739"
          xml:space="preserve"
        >
          <path
            d="M25.068,48.889c-9.173,0-18.017-5.06-22.396-13.804C-3.373,23.008,1.164,8.467,13.003,1.979l2.061-1.129l-0.615,2.268
	c-1.479,5.459-0.899,11.25,1.633,16.306c2.75,5.493,7.476,9.587,13.305,11.526c5.831,1.939,12.065,1.492,17.559-1.258v0
	c0.25-0.125,0.492-0.258,0.734-0.391l2.061-1.13l-0.585,2.252c-1.863,6.873-6.577,12.639-12.933,15.822
	C32.639,48.039,28.825,48.888,25.068,48.889z M12.002,4.936c-9.413,6.428-12.756,18.837-7.54,29.253
	c5.678,11.34,19.522,15.945,30.864,10.268c5.154-2.582,9.136-7.012,11.181-12.357c-5.632,2.427-11.882,2.702-17.752,0.748
	c-6.337-2.108-11.473-6.557-14.463-12.528C11.899,15.541,11.11,10.16,12.002,4.936z"
          ></path>
        </svg>
      </div>
    </div>

    <a
      href="/"
      class="float-left hover:text-white  py-3 mr-4 ml-2 transition-all duration-[400ms]"
      >
      <svg version="1.1" id="funcha_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="w-full h-20 transition-all duration-700 "
       viewBox="0 0 1074 398" enable-background="new 0 0 1074 398" xml:space="preserve">
      <path class="fill-none opacity-100 stroke-none" 
        d="
      M1001.000000,1.000003 
        C1025.659424,1.000000 1050.318970,1.000000 1074.983887,0.999999 
        C1074.989258,133.620850 1074.989258,266.241699 1074.989258,399.000000 
        C745.975098,399.000000 416.950195,399.000000 87.115265,398.653748 
        C86.950905,397.919037 87.565285,397.260223 88.246765,397.181366 
        C110.896095,394.561310 131.558670,386.376709 150.949936,374.720459 
        C174.137650,360.782196 193.672852,342.678711 211.418930,322.357605 
        C232.261383,298.490875 250.699677,272.934906 266.501434,245.537796 
        C281.062836,220.291245 294.907013,194.631363 309.106903,169.175735 
        C313.080414,162.052612 313.353821,162.006531 322.021667,163.382904 
        C330.145355,164.672897 337.943909,163.481003 345.264862,159.816635 
        C355.356720,154.765335 356.980774,144.621170 349.191528,136.288681 
        C341.648865,149.245346 333.284546,153.343399 320.017181,150.377090 
        C320.358154,149.760910 320.614624,149.185944 320.966766,148.677246 
        C334.288574,129.433884 347.058990,109.777214 361.076721,91.054443 
        C383.433624,61.193504 409.715485,35.621189 444.651031,20.503876 
        C465.840485,11.334780 487.877899,6.818337 511.015656,9.036254 
        C533.486633,11.190251 547.650330,25.299288 548.856934,47.758457 
        C549.942932,67.971642 540.563538,78.319138 523.285461,86.633522 
        C497.733612,98.929306 465.588867,95.173065 446.186157,70.704826 
        C445.545715,69.897163 444.514191,69.399605 443.018829,68.268929 
        C447.272797,84.253189 457.412231,93.167290 471.681519,97.254120 
        C490.698608,102.700737 509.829834,104.305893 528.697083,96.172844 
        C545.862305,88.773476 560.382324,74.340958 560.644836,52.856953 
        C560.907654,31.346821 549.944824,13.885498 529.501465,7.650872 
        C520.446899,4.889501 510.686523,4.462611 501.269073,2.844939 
        C500.108032,2.645502 499.086304,1.634770 498.000000,0.999995 
        C663.358215,1.000000 828.716492,1.000000 994.881104,1.369211 
        C993.856506,2.144707 992.025269,2.903820 990.194580,2.902619 
        C972.151367,2.890784 955.060425,7.332266 938.589905,14.223808 
        C905.564697,28.042137 878.781006,50.334888 855.216370,76.773636 
        C829.455994,105.676010 808.444214,137.868668 789.840088,171.734146 
        C780.251221,189.189072 770.578491,206.481827 768.593811,226.895157 
        C767.251709,240.700836 773.343262,250.766281 788.101929,251.781448 
        C780.995789,245.982635 782.465698,238.869644 784.082153,231.834061 
        C788.036133,214.623795 794.015686,198.237122 803.827148,183.384842 
        C809.214233,175.230087 815.194641,167.514694 824.161987,163.310715 
        C834.050903,158.674652 840.266052,159.852432 841.507263,172.700424 
        C841.585388,173.508575 841.510254,174.381439 841.286682,175.161224 
        C838.612366,184.491196 835.738708,193.767166 833.235046,203.142120 
        C830.649536,212.823334 826.980286,222.509964 826.377014,232.353088 
        C825.576233,245.416473 836.322327,255.293854 848.297302,253.753387 
        C853.476624,253.087097 858.905823,250.744080 863.208984,247.721359 
        C869.923523,243.004807 875.776062,237.061066 881.899902,231.719223 
        C886.186035,248.911713 896.869751,255.005966 914.133423,249.012070 
        C921.165344,246.570633 927.630554,242.496872 934.617188,239.035187 
        C934.952393,239.846985 935.586548,241.322876 936.174500,242.817001 
        C938.798401,249.484863 944.091858,252.346909 950.849487,252.990677 
        C960.917114,253.949814 968.697876,249.362152 974.711182,241.964554 
        C982.992859,231.776413 990.794739,221.192871 998.592285,210.623871 
        C999.463074,209.443542 998.969971,207.256958 999.109375,205.537018 
        C997.408752,206.277084 995.126465,206.551376 994.101074,207.832092 
        C986.935242,216.782089 980.416382,226.278229 972.887695,234.898453 
        C968.715088,239.675995 963.313354,243.616516 957.878540,246.987991 
        C952.563843,250.285019 948.636597,247.804184 948.781921,241.592361 
        C948.873108,237.696976 949.648132,233.646881 950.978455,229.978897 
        C959.578552,206.266739 973.057068,185.213318 987.156494,164.517776 
        C987.838745,163.516342 988.440491,162.460083 989.167542,161.287857 
        C980.187256,160.049667 972.483459,161.822357 966.966797,166.444122 
        C962.807861,162.477173 959.631897,157.996323 955.299805,155.652161 
        C948.607361,152.030777 940.947327,153.035629 933.937317,155.339050 
        C917.593994,160.709259 905.978210,172.508698 896.199585,185.850067 
        C891.021179,192.915268 886.671265,201.191040 884.358826,209.584686 
        C882.026184,218.051971 879.057800,225.720932 872.604248,231.379410 
        C865.676453,237.453659 858.325134,243.243591 850.443604,247.963852 
        C844.892212,251.288635 841.181274,248.479065 840.964722,242.014465 
        C840.854797,238.733398 840.873718,235.266083 841.791260,232.166183 
        C844.690430,222.371841 847.836609,212.638077 851.273071,203.018723 
        C854.929321,192.784348 857.685425,182.540741 856.104797,171.498962 
        C854.831970,162.608017 849.504456,155.942490 840.805115,155.123398 
        C834.074280,154.489594 827.177979,155.613190 820.425903,155.951981 
        C820.602783,155.572250 820.977051,154.353134 821.666138,153.350296 
        C837.273438,130.636703 852.312744,107.499924 868.719421,85.377586 
        C885.269470,63.061829 905.202087,43.989906 929.358398,29.706594 
        C949.500000,17.797125 971.107361,10.892132 994.481934,8.854777 
        C1007.174927,7.748440 1019.353149,8.521018 1030.962280,13.834778 
        C1050.989868,23.001764 1058.761475,53.539860 1045.709106,71.194633 
        C1027.681274,95.579163 983.857178,100.853989 960.547607,81.354034 
        C955.393616,77.042397 950.545166,72.365608 946.212646,68.450333 
        C948.592407,78.845436 954.093933,88.326958 965.241882,93.443420 
        C987.828247,103.809677 1010.813293,104.819229 1033.520264,94.324043 
        C1044.663696,89.173470 1054.454224,81.422684 1059.747925,69.974541 
        C1069.367188,49.171879 1062.440308,18.267937 1034.539062,8.011533 
        C1024.762817,4.417859 1014.716003,2.752208 1004.322632,2.776965 
        C1003.216492,2.779600 1002.107605,1.620282 1001.000000,1.000003 
      M811.248108,62.146523 
        C783.371216,49.740150 754.924988,52.138432 726.424927,59.240238 
        C722.366211,60.251621 718.953552,60.559097 715.018494,59.082668 
        C701.895447,54.158951 688.773499,49.185123 675.444702,44.868004 
        C654.923035,38.221127 634.202393,32.039112 612.208130,34.102840 
        C598.632568,35.376633 586.110046,39.686634 577.099670,50.525810 
        C563.000366,67.486885 560.683105,87.944748 563.709290,108.475822 
        C566.321594,126.198898 578.877136,137.447235 595.338867,143.925430 
        C600.308350,145.881088 605.574585,147.082611 611.022705,148.725433 
        C610.292725,150.326584 609.712463,151.667801 609.077148,152.982437 
        C600.991699,169.713654 597.031006,187.334961 597.916687,205.933304 
        C598.935425,227.324417 606.828125,244.716141 625.234253,257.335266 
        C647.578857,272.654602 670.992676,273.253540 695.482788,265.018860 
        C721.787598,256.174042 740.295471,237.183121 757.152649,216.278076 
        C758.422119,214.703873 758.701721,212.331497 759.441467,210.330154 
        C758.946411,209.952698 758.451416,209.575226 757.956360,209.197754 
        C756.339233,210.311157 754.474854,211.188171 753.146423,212.577637 
        C746.243530,219.798065 739.435242,227.110535 732.671143,234.461899 
        C712.929626,255.917404 688.532776,266.343292 659.386658,264.910126 
        C646.023010,264.253052 634.795227,258.746674 626.427246,247.954620 
        C618.240417,237.396133 616.438660,225.138519 616.719971,212.301651 
        C617.168091,191.852615 623.342163,172.999725 632.248352,154.784088 
        C634.735352,149.697464 638.019775,147.787155 643.450012,146.827621 
        C655.610352,144.678848 666.953613,140.194748 674.049622,129.238281 
        C676.916626,124.811493 678.539673,119.579071 680.728821,114.713257 
        C674.182495,119.678047 669.030273,125.327507 663.141479,130.060410 
        C657.145081,134.879807 650.318054,138.533310 641.562195,139.089066 
        C642.509521,137.470078 643.024353,136.468933 643.648438,135.541336 
        C662.121948,108.081947 685.796082,86.556961 715.663513,71.947258 
        C719.625244,70.009384 722.675476,69.901680 726.778625,71.677841 
        C747.273438,80.549347 768.016968,88.785713 790.196655,92.619987 
        C799.282166,94.190628 808.331116,94.927162 817.296082,91.998688 
        C827.993713,88.504234 830.686707,79.505348 823.088379,71.529640 
        C819.817017,68.095787 815.628540,65.535706 811.248108,62.146523 
      M507.640594,162.952606 
        C515.791199,163.013763 517.222900,164.460327 516.968079,172.564545 
        C516.921753,174.038544 516.599304,175.507172 516.361633,176.971344 
        C513.613464,193.898361 506.406219,209.068253 497.921967,223.734665 
        C494.011444,230.494690 494.296783,237.730972 495.825165,244.978516 
        C496.788391,249.546021 499.993927,252.494293 504.312469,253.985748 
        C511.886749,256.601624 518.579346,254.501740 524.872131,249.966965 
        C539.463806,239.451797 551.290894,226.138321 562.850769,212.569260 
        C563.823730,211.427185 563.599121,209.264801 563.930908,207.576431 
        C562.125122,208.074966 559.702637,207.998474 558.614075,209.165833 
        C551.805481,216.467072 545.678223,224.436447 538.571167,231.416672 
        C532.203247,237.670914 525.046265,243.184708 517.829834,248.468613 
        C515.983154,249.820801 511.476349,250.225677 510.198059,248.990082 
        C508.593933,247.439484 508.014465,243.391937 508.822296,241.054199 
        C511.184692,234.217545 514.284119,227.613083 517.405640,221.065826 
        C524.258362,206.692108 531.348328,192.378952 532.426941,176.140594 
        C533.030823,167.048019 529.977783,158.332123 518.722046,156.494247 
        C509.603271,155.005280 501.239929,157.276138 493.271210,161.294479 
        C488.535675,163.682434 484.103027,166.670914 479.093781,169.651428 
        C479.454132,165.723297 479.747009,162.531143 480.065735,159.056915 
        C473.712158,159.755066 468.098724,160.308823 462.504028,161.011917 
        C459.476166,161.392426 457.516968,162.910828 459.834045,165.944839 
        C465.863129,173.839294 463.421051,181.158981 458.480835,188.187180 
        C453.533905,195.224930 448.585327,202.313766 443.013092,208.847702 
        C434.064270,219.341034 424.818359,229.606003 415.227386,239.511826 
        C412.236755,242.600647 407.929260,244.715683 403.857483,246.376526 
        C399.279388,248.243896 394.929810,244.508301 396.424072,239.917358 
        C399.265839,231.186234 402.432220,222.497299 406.293945,214.176102 
        C412.552216,200.690918 419.805481,187.665482 425.995361,174.151321 
        C429.368896,166.785995 424.870850,157.024872 417.106506,152.923706 
        C416.351227,154.348129 415.495667,155.743515 414.842102,157.227859 
        C407.843109,173.123428 400.523773,188.890427 394.006622,204.981964 
        C388.330322,218.997421 379.038696,229.968201 367.614746,239.376495 
        C363.331757,242.903793 358.338013,245.761734 352.600769,244.791992 
        C350.154388,244.378494 346.600586,242.117813 346.147980,240.110657 
        C345.288177,236.298035 345.185699,231.570892 346.725952,228.089539 
        C353.399292,213.006149 360.655426,198.174393 367.949341,183.374191 
        C372.244171,174.659485 377.060760,166.195770 378.824707,154.892868 
        C374.274078,154.892868 370.373962,154.985291 366.480469,154.865036 
        C363.071045,154.759720 360.882111,155.275650 360.780762,159.633255 
        C360.702240,163.007507 359.407532,166.414627 358.314178,169.694016 
        C351.989624,188.664215 342.239685,205.952911 331.843842,222.898468 
        C325.343903,233.493515 331.906189,248.485458 344.115387,251.125565 
        C353.459808,253.146210 361.908417,250.653854 369.989380,246.509842 
        C374.488861,244.202484 378.579102,241.097076 382.880219,238.334320 
        C387.914886,254.333069 404.121155,255.226486 414.651276,245.673523 
        C418.717560,241.984589 422.853577,238.362625 426.756989,234.506821 
        C430.823944,230.489426 434.648621,226.226776 439.053131,221.570358 
        C437.354187,230.093338 435.759338,237.847794 434.277740,245.623825 
        C433.456726,249.932892 434.484497,253.391815 439.259705,255.147064 
        C440.012177,253.807785 440.684692,252.690598 441.282471,251.534760 
        C450.249756,234.196106 459.188293,216.842590 468.173157,199.513077 
        C474.781097,186.768112 483.420471,175.681412 495.545380,167.765930 
        C498.898682,165.576782 503.012268,164.552200 507.640594,162.952606 
      z"/>
      <path class="fill-none opacity-100 stroke-none" 
        d="
      M1.000001,341.000000 
        C1.000000,227.725403 1.000000,114.450821 1.000000,1.000000 
        C164.023285,1.000000 327.046631,1.000000 490.890350,1.366735 
        C490.059326,2.124337 488.427094,2.657883 486.753387,2.882433 
        C477.404938,4.136651 467.870453,4.550834 458.722229,6.655034 
        C421.249359,15.274261 391.169617,36.664135 364.426178,63.184784 
        C341.770813,85.651436 322.675476,111.061768 306.453430,138.470444 
        C301.652466,146.582123 296.635376,150.276794 287.014160,149.233398 
        C279.163300,148.382004 271.081818,149.819290 263.982666,154.033707 
        C255.512909,159.061768 254.054565,170.600601 261.352417,176.016052 
        C267.469116,162.068222 279.101410,159.854156 292.560303,161.276260 
        C279.512512,185.295670 266.872772,209.281601 253.563171,232.889877 
        C235.521057,264.892548 215.833282,295.810516 191.287643,323.383698 
        C174.923370,341.766388 156.758179,358.071625 135.657928,370.753357 
        C115.671158,382.765900 94.005074,389.981018 70.575890,392.162720 
        C55.788742,393.539642 42.197346,391.462646 29.599728,383.400635 
        C12.330564,372.349030 5.538351,340.742584 24.923897,323.967285 
        C35.710030,314.633484 47.936760,309.480042 61.872471,308.335388 
        C84.342461,306.489838 103.760597,312.173615 116.966881,332.069336 
        C117.327538,332.612671 117.950493,332.981964 119.128265,334.041626 
        C117.205963,323.285797 112.401428,315.400818 103.990570,310.023071 
        C88.713982,300.255585 71.457771,297.917603 54.122677,299.946960 
        C29.134542,302.872192 9.842627,314.442780 2.625299,340.606873 
        C2.553396,340.867554 1.562089,340.874573 1.000001,341.000000 
      z"/>
      <path class="dark:fill-white fill-black draw opacity-100 stroke-none" 
        d="
      M1.000001,341.467590 
        C1.562089,340.874573 2.553396,340.867554 2.625299,340.606873 
        C9.842627,314.442780 29.134542,302.872192 54.122677,299.946960 
        C71.457771,297.917603 88.713982,300.255585 103.990570,310.023071 
        C112.401428,315.400818 117.205963,323.285797 119.128265,334.041626 
        C117.950493,332.981964 117.327538,332.612671 116.966881,332.069336 
        C103.760597,312.173615 84.342461,306.489838 61.872471,308.335388 
        C47.936760,309.480042 35.710030,314.633484 24.923897,323.967285 
        C5.538351,340.742584 12.330564,372.349030 29.599728,383.400635 
        C42.197346,391.462646 55.788742,393.539642 70.575890,392.162720 
        C94.005074,389.981018 115.671158,382.765900 135.657928,370.753357 
        C156.758179,358.071625 174.923370,341.766388 191.287643,323.383698 
        C215.833282,295.810516 235.521057,264.892548 253.563171,232.889877 
        C266.872772,209.281601 279.512512,185.295670 292.560303,161.276260 
        C279.101410,159.854156 267.469116,162.068222 261.352417,176.016052 
        C254.054565,170.600601 255.512909,159.061768 263.982666,154.033707 
        C271.081818,149.819290 279.163300,148.382004 287.014160,149.233398 
        C296.635376,150.276794 301.652466,146.582123 306.453430,138.470444 
        C322.675476,111.061768 341.770813,85.651436 364.426178,63.184784 
        C391.169617,36.664135 421.249359,15.274261 458.722229,6.655034 
        C467.870453,4.550834 477.404938,4.136651 486.753387,2.882433 
        C488.427094,2.657883 490.059326,2.124337 491.355347,1.366735 
        C493.041656,1.000000 495.083344,1.000000 497.562500,0.999995 
        C499.086304,1.634770 500.108032,2.645502 501.269073,2.844939 
        C510.686523,4.462611 520.446899,4.889501 529.501465,7.650872 
        C549.944824,13.885498 560.907654,31.346821 560.644836,52.856953 
        C560.382324,74.340958 545.862305,88.773476 528.697083,96.172844 
        C509.829834,104.305893 490.698608,102.700737 471.681519,97.254120 
        C457.412231,93.167290 447.272797,84.253189 443.018829,68.268929 
        C444.514191,69.399605 445.545715,69.897163 446.186157,70.704826 
        C465.588867,95.173065 497.733612,98.929306 523.285461,86.633522 
        C540.563538,78.319138 549.942932,67.971642 548.856934,47.758457 
        C547.650330,25.299288 533.486633,11.190251 511.015656,9.036254 
        C487.877899,6.818337 465.840485,11.334780 444.651031,20.503876 
        C409.715485,35.621189 383.433624,61.193504 361.076721,91.054443 
        C347.058990,109.777214 334.288574,129.433884 320.966766,148.677246 
        C320.614624,149.185944 320.358154,149.760910 320.017181,150.377090 
        C333.284546,153.343399 341.648865,149.245346 349.191528,136.288681 
        C356.980774,144.621170 355.356720,154.765335 345.264862,159.816635 
        C337.943909,163.481003 330.145355,164.672897 322.021667,163.382904 
        C313.353821,162.006531 313.080414,162.052612 309.106903,169.175735 
        C294.907013,194.631363 281.062836,220.291245 266.501434,245.537796 
        C250.699677,272.934906 232.261383,298.490875 211.418930,322.357605 
        C193.672852,342.678711 174.137650,360.782196 150.949936,374.720459 
        C131.558670,386.376709 110.896095,394.561310 88.246765,397.181366 
        C87.565285,397.260223 86.950905,397.919037 86.652618,398.653748 
        C75.312439,399.000000 63.624878,399.000000 51.751976,398.640625 
        C45.432369,396.563080 39.089462,395.368896 33.204247,393.025330 
        C17.582491,386.804626 5.472350,377.125793 2.660925,359.175690 
        C2.587757,358.708527 1.574719,358.388611 0.999997,358.000000 
        C1.000000,352.645081 1.000000,347.290131 1.000001,341.467590 
      z"/>
      <path class="dark:fill-white fill-black draw opacity-100 stroke-none" 
        d="
      M1000.571533,1.000003 
        C1002.107605,1.620282 1003.216492,2.779600 1004.322632,2.776965 
        C1014.716003,2.752208 1024.762817,4.417859 1034.539062,8.011533 
        C1062.440308,18.267937 1069.367188,49.171879 1059.747925,69.974541 
        C1054.454224,81.422684 1044.663696,89.173470 1033.520264,94.324043 
        C1010.813293,104.819229 987.828247,103.809677 965.241882,93.443420 
        C954.093933,88.326958 948.592407,78.845436 946.212646,68.450333 
        C950.545166,72.365608 955.393616,77.042397 960.547607,81.354034 
        C983.857178,100.853989 1027.681274,95.579163 1045.709106,71.194633 
        C1058.761475,53.539860 1050.989868,23.001764 1030.962280,13.834778 
        C1019.353149,8.521018 1007.174927,7.748440 994.481934,8.854777 
        C971.107361,10.892132 949.500000,17.797125 929.358398,29.706594 
        C905.202087,43.989906 885.269470,63.061829 868.719421,85.377586 
        C852.312744,107.499924 837.273438,130.636703 821.666138,153.350296 
        C820.977051,154.353134 820.602783,155.572250 820.425903,155.951981 
        C827.177979,155.613190 834.074280,154.489594 840.805115,155.123398 
        C849.504456,155.942490 854.831970,162.608017 856.104797,171.498962 
        C857.685425,182.540741 854.929321,192.784348 851.273071,203.018723 
        C847.836609,212.638077 844.690430,222.371841 841.791260,232.166183 
        C840.873718,235.266083 840.854797,238.733398 840.964722,242.014465 
        C841.181274,248.479065 844.892212,251.288635 850.443604,247.963852 
        C858.325134,243.243591 865.676453,237.453659 872.604248,231.379410 
        C879.057800,225.720932 882.026184,218.051971 884.358826,209.584686 
        C886.671265,201.191040 891.021179,192.915268 896.199585,185.850067 
        C905.978210,172.508698 917.593994,160.709259 933.937317,155.339050 
        C940.947327,153.035629 948.607361,152.030777 955.299805,155.652161 
        C959.631897,157.996323 962.807861,162.477173 966.966797,166.444122 
        C972.483459,161.822357 980.187256,160.049667 989.167542,161.287857 
        C988.440491,162.460083 987.838745,163.516342 987.156494,164.517776 
        C973.057068,185.213318 959.578552,206.266739 950.978455,229.978897 
        C949.648132,233.646881 948.873108,237.696976 948.781921,241.592361 
        C948.636597,247.804184 952.563843,250.285019 957.878540,246.987991 
        C963.313354,243.616516 968.715088,239.675995 972.887695,234.898453 
        C980.416382,226.278229 986.935242,216.782089 994.101074,207.832092 
        C995.126465,206.551376 997.408752,206.277084 999.109375,205.537018 
        C998.969971,207.256958 999.463074,209.443542 998.592285,210.623871 
        C990.794739,221.192871 982.992859,231.776413 974.711182,241.964554 
        C968.697876,249.362152 960.917114,253.949814 950.849487,252.990677 
        C944.091858,252.346909 938.798401,249.484863 936.174500,242.817001 
        C935.586548,241.322876 934.952393,239.846985 934.617188,239.035187 
        C927.630554,242.496872 921.165344,246.570633 914.133423,249.012070 
        C896.869751,255.005966 886.186035,248.911713 881.899902,231.719223 
        C875.776062,237.061066 869.923523,243.004807 863.208984,247.721359 
        C858.905823,250.744080 853.476624,253.087097 848.297302,253.753387 
        C836.322327,255.293854 825.576233,245.416473 826.377014,232.353088 
        C826.980286,222.509964 830.649536,212.823334 833.235046,203.142120 
        C835.738708,193.767166 838.612366,184.491196 841.286682,175.161224 
        C841.510254,174.381439 841.585388,173.508575 841.507263,172.700424 
        C840.266052,159.852432 834.050903,158.674652 824.161987,163.310715 
        C815.194641,167.514694 809.214233,175.230087 803.827148,183.384842 
        C794.015686,198.237122 788.036133,214.623795 784.082153,231.834061 
        C782.465698,238.869644 780.995789,245.982635 788.101929,251.781448 
        C773.343262,250.766281 767.251709,240.700836 768.593811,226.895157 
        C770.578491,206.481827 780.251221,189.189072 789.840088,171.734146 
        C808.444214,137.868668 829.455994,105.676010 855.216370,76.773636 
        C878.781006,50.334888 905.564697,28.042137 938.589905,14.223808 
        C955.060425,7.332266 972.151367,2.890784 990.194580,2.902619 
        C992.025269,2.903820 993.856506,2.144707 995.343750,1.369211 
        C996.714355,1.000000 998.428711,1.000000 1000.571533,1.000003 
      M926.911316,167.384171 
        C921.381104,173.991135 915.295776,180.216797 910.439148,187.286530 
        C901.086792,200.900528 894.976013,215.798706 895.894836,232.811066 
        C896.371338,241.633026 901.674744,245.546707 910.336487,243.495377 
        C917.304749,241.845078 922.491028,237.523788 926.935242,232.217194 
        C935.791870,221.641891 941.626831,209.310959 945.815369,196.388397 
        C948.531189,188.009293 949.993835,179.070892 950.801514,170.271439 
        C951.541077,162.213135 946.009583,158.405060 938.242065,161.045319 
        C934.430786,162.340790 931.065857,164.949066 926.911316,167.384171 
      z"/>
      <path class="fill-none opacity-100 stroke-none" 
        d="
      M0.999997,358.468658 
        C1.574719,358.388611 2.587757,358.708527 2.660925,359.175690 
        C5.472350,377.125793 17.582491,386.804626 33.204247,393.025330 
        C39.089462,395.368896 45.432369,396.563080 51.283318,398.640625 
        C34.413872,399.000000 17.827740,399.000000 1.000000,399.000000 
        C1.000000,385.646729 1.000000,372.292023 0.999997,358.468658 
      z"/>
      <path class="dark:fill-white fill-black draw opacity-100 stroke-none" 
        d="
      M811.552368,62.362602 
        C815.628540,65.535706 819.817017,68.095787 823.088379,71.529640 
        C830.686707,79.505348 827.993713,88.504234 817.296082,91.998688 
        C808.331116,94.927162 799.282166,94.190628 790.196655,92.619987 
        C768.016968,88.785713 747.273438,80.549347 726.778625,71.677841 
        C722.675476,69.901680 719.625244,70.009384 715.663513,71.947258 
        C685.796082,86.556961 662.121948,108.081947 643.648438,135.541336 
        C643.024353,136.468933 642.509521,137.470078 641.562195,139.089066 
        C650.318054,138.533310 657.145081,134.879807 663.141479,130.060410 
        C669.030273,125.327507 674.182495,119.678047 680.728821,114.713257 
        C678.539673,119.579071 676.916626,124.811493 674.049622,129.238281 
        C666.953613,140.194748 655.610352,144.678848 643.450012,146.827621 
        C638.019775,147.787155 634.735352,149.697464 632.248352,154.784088 
        C623.342163,172.999725 617.168091,191.852615 616.719971,212.301651 
        C616.438660,225.138519 618.240417,237.396133 626.427246,247.954620 
        C634.795227,258.746674 646.023010,264.253052 659.386658,264.910126 
        C688.532776,266.343292 712.929626,255.917404 732.671143,234.461899 
        C739.435242,227.110535 746.243530,219.798065 753.146423,212.577637 
        C754.474854,211.188171 756.339233,210.311157 757.956360,209.197754 
        C758.451416,209.575226 758.946411,209.952698 759.441467,210.330154 
        C758.701721,212.331497 758.422119,214.703873 757.152649,216.278076 
        C740.295471,237.183121 721.787598,256.174042 695.482788,265.018860 
        C670.992676,273.253540 647.578857,272.654602 625.234253,257.335266 
        C606.828125,244.716141 598.935425,227.324417 597.916687,205.933304 
        C597.031006,187.334961 600.991699,169.713654 609.077148,152.982437 
        C609.712463,151.667801 610.292725,150.326584 611.022705,148.725433 
        C605.574585,147.082611 600.308350,145.881088 595.338867,143.925430 
        C578.877136,137.447235 566.321594,126.198898 563.709290,108.475822 
        C560.683105,87.944748 563.000366,67.486885 577.099670,50.525810 
        C586.110046,39.686634 598.632568,35.376633 612.208130,34.102840 
        C634.202393,32.039112 654.923035,38.221127 675.444702,44.868004 
        C688.773499,49.185123 701.895447,54.158951 715.018494,59.082668 
        C718.953552,60.559097 722.366211,60.251621 726.424927,59.240238 
        C754.924988,52.138432 783.371216,49.740150 811.552368,62.362602 
      M662.803833,47.747360 
        C648.562012,43.045040 634.059937,39.646751 618.954651,40.115051 
        C608.674316,40.433769 598.608276,42.293945 590.916931,49.810822 
        C574.002808,66.341248 571.416504,87.253288 576.170593,108.740318 
        C580.085144,126.432632 595.222351,133.378372 611.301941,138.079742 
        C615.169617,139.210571 617.069946,138.102936 618.901672,134.886353 
        C620.700317,131.728073 622.848022,128.706055 625.216064,125.944534 
        C643.502502,104.619690 665.594421,88.038010 690.065430,74.517410 
        C696.888489,70.747559 703.979492,67.462723 711.804932,63.523861 
        C695.222412,58.155827 679.409485,53.036907 662.803833,47.747360 
      M757.637512,58.059460 
        C749.124878,60.165012 740.612244,62.270565 732.099609,64.376122 
        C732.134766,64.965187 732.169922,65.554260 732.205078,66.143326 
        C736.858093,68.188095 741.542725,70.164253 746.158691,72.289398 
        C767.307800,82.026100 789.490051,87.374672 812.776489,88.013000 
        C818.151184,88.160316 820.565063,85.758911 821.004761,80.323936 
        C821.619080,72.731331 816.195007,69.118416 810.793945,66.431786 
        C794.324951,58.239677 776.598389,56.745213 757.637512,58.059460 
      z"/>
      <path class="dark:fill-white fill-black draw opacity-100 stroke-none" 
        d="
      M507.208801,162.972961 
        C503.012268,164.552200 498.898682,165.576782 495.545380,167.765930 
        C483.420471,175.681412 474.781097,186.768112 468.173157,199.513077 
        C459.188293,216.842590 450.249756,234.196106 441.282471,251.534760 
        C440.684692,252.690598 440.012177,253.807785 439.259705,255.147064 
        C434.484497,253.391815 433.456726,249.932892 434.277740,245.623825 
        C435.759338,237.847794 437.354187,230.093338 439.053131,221.570358 
        C434.648621,226.226776 430.823944,230.489426 426.756989,234.506821 
        C422.853577,238.362625 418.717560,241.984589 414.651276,245.673523 
        C404.121155,255.226486 387.914886,254.333069 382.880219,238.334320 
        C378.579102,241.097076 374.488861,244.202484 369.989380,246.509842 
        C361.908417,250.653854 353.459808,253.146210 344.115387,251.125565 
        C331.906189,248.485458 325.343903,233.493515 331.843842,222.898468 
        C342.239685,205.952911 351.989624,188.664215 358.314178,169.694016 
        C359.407532,166.414627 360.702240,163.007507 360.780762,159.633255 
        C360.882111,155.275650 363.071045,154.759720 366.480469,154.865036 
        C370.373962,154.985291 374.274078,154.892868 378.824707,154.892868 
        C377.060760,166.195770 372.244171,174.659485 367.949341,183.374191 
        C360.655426,198.174393 353.399292,213.006149 346.725952,228.089539 
        C345.185699,231.570892 345.288177,236.298035 346.147980,240.110657 
        C346.600586,242.117813 350.154388,244.378494 352.600769,244.791992 
        C358.338013,245.761734 363.331757,242.903793 367.614746,239.376495 
        C379.038696,229.968201 388.330322,218.997421 394.006622,204.981964 
        C400.523773,188.890427 407.843109,173.123428 414.842102,157.227859 
        C415.495667,155.743515 416.351227,154.348129 417.106506,152.923706 
        C424.870850,157.024872 429.368896,166.785995 425.995361,174.151321 
        C419.805481,187.665482 412.552216,200.690918 406.293945,214.176102 
        C402.432220,222.497299 399.265839,231.186234 396.424072,239.917358 
        C394.929810,244.508301 399.279388,248.243896 403.857483,246.376526 
        C407.929260,244.715683 412.236755,242.600647 415.227386,239.511826 
        C424.818359,229.606003 434.064270,219.341034 443.013092,208.847702 
        C448.585327,202.313766 453.533905,195.224930 458.480835,188.187180 
        C463.421051,181.158981 465.863129,173.839294 459.834045,165.944839 
        C457.516968,162.910828 459.476166,161.392426 462.504028,161.011917 
        C468.098724,160.308823 473.712158,159.755066 480.065735,159.056915 
        C479.747009,162.531143 479.454132,165.723297 479.093781,169.651428 
        C484.103027,166.670914 488.535675,163.682434 493.271210,161.294479 
        C501.239929,157.276138 509.603271,155.005280 518.722046,156.494247 
        C529.977783,158.332123 533.030823,167.048019 532.426941,176.140594 
        C531.348328,192.378952 524.258362,206.692108 517.405640,221.065826 
        C514.284119,227.613083 511.184692,234.217545 508.822296,241.054199 
        C508.014465,243.391937 508.593933,247.439484 510.198059,248.990082 
        C511.476349,250.225677 515.983154,249.820801 517.829834,248.468613 
        C525.046265,243.184708 532.203247,237.670914 538.571167,231.416672 
        C545.678223,224.436447 551.805481,216.467072 558.614075,209.165833 
        C559.702637,207.998474 562.125122,208.074966 563.930908,207.576447 
        C563.599121,209.264801 563.823730,211.427185 562.850769,212.569260 
        C551.290894,226.138321 539.463806,239.451797 524.872131,249.966965 
        C518.579346,254.501740 511.886749,256.601624 504.312469,253.985748 
        C499.993927,252.494293 496.788391,249.546021 495.825165,244.978516 
        C494.296783,237.730972 494.011444,230.494690 497.921967,223.734665 
        C506.406219,209.068253 513.613464,193.898361 516.361633,176.971344 
        C516.599304,175.507172 516.921753,174.038544 516.968079,172.564545 
        C517.222900,164.460327 515.791199,163.013763 507.208801,162.972961 
      z"/>
      <path class="fill-none opacity-100 stroke-none" 
        d="
      M927.205139,167.173706 
        C931.065857,164.949066 934.430786,162.340790 938.242065,161.045319 
        C946.009583,158.405060 951.541077,162.213135 950.801514,170.271439 
        C949.993835,179.070892 948.531189,188.009293 945.815369,196.388397 
        C941.626831,209.310959 935.791870,221.641891 926.935242,232.217194 
        C922.491028,237.523788 917.304749,241.845078 910.336487,243.495377 
        C901.674744,245.546707 896.371338,241.633026 895.894836,232.811066 
        C894.976013,215.798706 901.086792,200.900528 910.439148,187.286530 
        C915.295776,180.216797 921.381104,173.991135 927.205139,167.173706 
      z"/>
      <path class="fill-none opacity-100 stroke-none" 
        d="
      M663.200195,47.832672 
        C679.409485,53.036907 695.222412,58.155827 711.804932,63.523861 
        C703.979492,67.462723 696.888489,70.747559 690.065430,74.517410 
        C665.594421,88.038010 643.502502,104.619690 625.216064,125.944534 
        C622.848022,128.706055 620.700317,131.728073 618.901672,134.886353 
        C617.069946,138.102936 615.169617,139.210571 611.301941,138.079742 
        C595.222351,133.378372 580.085144,126.432632 576.170593,108.740318 
        C571.416504,87.253288 574.002808,66.341248 590.916931,49.810822 
        C598.608276,42.293945 608.674316,40.433769 618.954651,40.115051 
        C634.059937,39.646751 648.562012,43.045040 663.200195,47.832672 
      z"/>
      <path class="fill-none opacity-100 stroke-none" 
        d="
      M758.074219,58.038078 
        C776.598389,56.745213 794.324951,58.239677 810.793945,66.431786 
        C816.195007,69.118416 821.619080,72.731331 821.004761,80.323936 
        C820.565063,85.758911 818.151184,88.160316 812.776489,88.013000 
        C789.490051,87.374672 767.307800,82.026100 746.158691,72.289398 
        C741.542725,70.164253 736.858093,68.188095 732.205078,66.143326 
        C732.169922,65.554260 732.134766,64.965187 732.099609,64.376122 
        C740.612244,62.270565 749.124878,60.165012 758.074219,58.038078 
      z"/>
      </svg>
    </a>

    <!--<a
      href="/about/"
      class="float-left hover:text-white text-center no-underline px-4 py-5 hover:bg-primary transition-all duration-[400ms]"
      >About
    </a>
     <a
      href="/events/"
      class="float-left hover:text-white text-center no-underline px-4 py-5 hover:bg-primary transition-all duration-[400ms]"
    >
      Events
    </a>-->
    <a
      href="/food/"
      class="float-left hover:text-white text-center no-underline px-4 py-5 hover:bg-primary transition-all duration-[400ms]"
    >
      Food
    </a>
    <a
      href="/credits/"
      class="float-left hover:text-white text-center no-underline px-4 py-5 hover:bg-primary transition-all duration-[400ms]"
    >
      Credits
    </a>
  </div>
</nav>
<div class="spot -translate-y-[5.25rem]"></div>

<script>
  // element references
  const navbar = document.querySelector("nav");
  const spot = document.querySelector(".spot");
  const dropdown = document.querySelector(".invisible");

  // handler
  const handleScroll = (entries) => {

    const spotIsVisible = entries[0].isIntersecting;

    let navbarContainerClasses = navbar.children[0].classList;

    let svg = document.querySelector("svg#funcha_svg");
    let draw = svg.querySelector(".draw");
    let skip = svg.querySelector(".fill-none");
    if (spotIsVisible) {
      navbar.classList.remove("dark:shadow-2xl");
      navbar.classList.remove("dark:drop-shadow-2xl");
      navbar.classList.remove("dark:bg-dark-bg");
      navbarContainerClasses.remove("dark:drop-shadow-none");
      navbarContainerClasses.remove("dark:shadow-none");
      navbarContainerClasses.remove("dark:bg-dark-secondary");
      navbarContainerClasses.remove("dark:text-white");
      
      navbarContainerClasses.remove("drop-shadow-2xl");
      navbarContainerClasses.remove("shadow-2xl");
      navbarContainerClasses.remove("text-black");
      navbarContainerClasses.remove("bg-light-secondary");
      
      svg.classList.add("h-20");
      svg.classList.remove("h-10");
    } else {
      navbar.classList.add("dark:shadow-2xl");
      navbar.classList.add("dark:drop-shadow-2xl");
      navbar.classList.add("dark:bg-dark-bg");
      navbarContainerClasses.add("dark:drop-shadow-none");
      navbarContainerClasses.add("dark:shadow-none");
      navbarContainerClasses.add("dark:bg-dark-secondary");
      navbarContainerClasses.add("dark:text-white");
      
      navbarContainerClasses.add("drop-shadow-2xl");
      navbarContainerClasses.add("shadow-2xl");
      navbarContainerClasses.add("text-black");
      navbarContainerClasses.add("bg-light-secondary");
      
      svg.classList.add("h-10");
      svg.classList.remove("h-20");
    }
  };

  const options = {
    root: null,
    rootMargin: "0px",
    threshhold: 0,
  };

  // initialize and start the observer.
  const observer = new IntersectionObserver(handleScroll, options);
  observer.observe(spot);

  //DARK/LIGHT MODE
  let wrapper = document.querySelector(".wrap");
  wrapper.addEventListener("click", () => {
    let frontElements = document.querySelectorAll(".front");
    let backElements = document.querySelectorAll(".back");

    frontElements.forEach((element) => {
      element.classList.toggle("front");
      element.classList.toggle("back");
    });

    backElements.forEach((element) => {
      element.classList.toggle("front");
      element.classList.toggle("back");
    });

    document.documentElement.classList.toggle("dark");
  });

  let light = document.querySelector(".light");
  let night = document.querySelector(".night");
  window.addEventListener("DOMContentLoaded", () => {
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      light.classList.remove("front");
      light.classList.add("back");
      night.classList.remove("back");
      night.classList.add("front");
    } else {
      night.classList.remove("front");
      night.classList.add("back");
      light.classList.remove("back");
      light.classList.add("front");
    }
  });
</script>

<style is:inline>
  .front {
    animation: front 700ms 1;
    transition: z-index 700ms ease-in-out;
    animation-fill-mode: forwards;
    z-index: 10;
  }

  .back {
    animation: back 700ms 1;
    transition: z-index 700ms ease-in-out;
    animation-fill-mode: forwards;
    z-index: 0;
  }

  @keyframes front {
    0% {
      transform: translateX(0) rotate(0deg);
      opacity: 0;
    }
    50% {
      transform: translateX(10px) rotate(15deg);
    }
    100% {
      transform: translateX(0) scale(1) rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes back {
    0% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: translateX(-10px) rotate(-15deg);
    }
    100% {
      transform: translateX(0) scale(0.9) rotate(0deg);
      opacity: 0;
    }
  }
</style>
