<nav class="justify-center bg-[#d77746] content-center text-center w-[95%]  text-white mb-4 p-2 mx-auto  rounded-b-lg">
  <div class="overflow-hidden bg-[rgb(150,84,31)] shadow-2xl rounded-lg">
    <a href="/" class="float-left text-base text-white text-center no-underline px-4 py-3.5 hover:text-black mr-2 hover:bg-white transition-all">funCha</a>
    <a href="/about/" class="float-left text-base text-white text-center no-underline px-4 py-3.5 hover:text-black mx-2 hover:bg-white transition-all">About</a>
    <a href="/music/" class="float-left text-base text-white text-center no-underline px-4 py-3.5 hover:text-black mx-2 hover:bg-white transition-all">Music</a>
    <a href="/events/" class="float-left text-base text-white text-center no-underline px-4 py-3.5 hover:text-black mx-2 hover:bg-white transition-all">Events</a>
    <a href="/credits/" class="float-right text-base text-white text-center no-underline px-4 py-3.5 hover:text-black ml-2 hover:bg-white transition-all">Credits</a>
    <div class="float-left group overflow-hidden hover:text-black mx-2 bg:bg-white transition-all">
      <button class="text-base text-white bg-inherit m-0 px-4 py-3.5 border-[none] outline-0 hover:text-black  hover:bg-white transition-all">Food 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="invisible group-hover:visible delay-75 translate-y-6 group-hover:translate-y-0 transition-all absolute bg-[#f9f9f9] min-w-[160px] shadow-2xl z-[1]">
        <a href="/food/" class="float-none text-[black] no-underline block text-left px-4 py-3 hover:bg-[#ddd]">Food and History</a>
        <a href="/recipes/modern/" class="float-none text-[black] no-underline block text-left px-4 py-3 hover:bg-[#ddd]">Modern Recipes</a>
        <a href="/recipes/classical/" class="float-none text-[black] no-underline block text-left px-4 py-3 hover:bg-[#ddd]">Classical Recipes</a>
      </div>
    </div> 
  </div>

</nav>