---
export interface Props {
  title: string;
  description: string;
  url: string;
  tags: Array<string>;
  allergens: Array<string>;
  slug: string;
}
const { title, description, url, tags, allergens, slug } = Astro.props;
---

<a class=" rounded-lg group flex flex-col w-full border-2 bg-white shadow-inner hover:-translate-y-4 hover:drop-shadow-xl hover:shadow-xl transition-all duration-200  delay-75 " href=`/recipes/${ slug }`>
  <img src={ url } alt=`${title} Image` class="aspect-square bg-contain  transition-all object-cover rounded-t-lg">
  <div class="px-8 py-4">
    <h2>{ title }</h2>
    <div class="flex flex-row flex-wrap gap-3 my-4">
      {
        tags.map((tag) => <span class="hover:brightness-[0.75] transition-all drop-shadow-md shadow-md duration-1000 select-none bg-[#eab89f]/75 text-orange-950 rounded-full px-3">{ tag }</span>)
      }
      {
        allergens.map((allergen) => <span class="hover:brightness-[0.5] transition-all drop-shadow-md shadow-md duration-1000 select-none bg-[#9b4a22]/50 text-orange-950 rounded-full px-3">{ allergen }</span>)
      }
    </div>
    <p>
      { description }
    </p>
  </div>
</a>